/* #home {
    border: 2px solid red;
} */
.navbar {
    border-top: 1px solid black;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: whitesmoke
}
#search {
    margin-top: 5px;
}
#search input {
    padding: 5px 3px;
    border-radius: 5px;
    border-color: rgb(241, 192, 101);
}
#search button {
    margin-left: 5px;
    padding: 4px 4px;
    background-color: rgb(233, 224, 108);
    border-radius: 4px;
    border: none;
    font-size: large;
}

.container {
    padding: 10px 27px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap:5px;
}
.card {
    position:relative;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
    overflow: clip;
}
.card h1 {
    margin: 10px 20px;
    color: aliceblue;
    font-size: large;
}
.card p{
    margin: 5PX 21px;
    color: whitesmoke;
}
