#footer {
    display: flex;
    padding: 60px 50px;
    justify-content: space-between;
}
#footer div {
    border: 2px solid red;
    text-align: center;
}
#footer div img {
    height: 90px;
    width: 120px;
    margin-bottom: 10px;
}
#footer div p {
    margin-top: 15px;
    color: rgb(90, 87, 87);
}
